.modal-container {
  width: 37%;
  height: auto;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}
.modal-container .notice {
  padding: 12px 15px;
 
}
.modal-container .notice p {
  font-size: calc(var(--fs-text-n-4) + 0.3rem);
  color: var(--color-black);
  text-align: center;
  line-height: 3.5rem;
  font-weight: 600;
}
.modal-container .notice p span {
  color: var(--color-green-700);
  padding: 3px;
}
.modal-container .modal-actions .succuss-btn {
  padding: 9px 12px;
  border: none;
  border-radius: 4px;
  color: #fafafa;
  font-size: 1.85rem;
  transition: 0.3s;
}

.modal-container .modal-actions .dashboard-visit {
  background-color: var(--color-blue);
}
.modal-container .modal-actions .dashboard-visit:hover {
  background-color: var(--color-blue-hover);
}
.modal-container .modal-actions .home-stay {
  background-color: var(--color-red);
}
.modal-container .modal-actions .home-stay:hover {
  background-color: var(--color-red-hover);
}
@media screen and (max-width: 768px) {
  .modal-container {
    width: 87%;
  }

  .modal-container .approved-order {
    width: 70px;
    height: auto;
  }
  .modal-container .notice {
    padding: 16px 15px;
  }
  .modal-container .notice p {
    font-size: var(--fs-text-n-4);
    color: var(--color-black);
    text-align: center;
    line-height: 2.9rem;
    font-weight: 600;
  }
  .modal-container .notice p span {
    color: var(--color-green-700);
    padding: 3px;
  }
  .modal-container .modal-actions .succuss-btn {
    background-color: var(--color-blue);
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    color: #fafafa;
    font-size: 1.55rem;
    transition: 0.3s;
  }

  .modal-container .modal-actions .home-stay {
    background-color: var(--color-red);
  }
  .modal-container .modal-actions .home-stay:hover {
    background-color: var(--color-red-hover);
  }
}
